[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/tinyxml2"]
	path = external/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "external/cmdline"]
	path = external/cmdline
	url = https://github.com/ProjectAsura/cmdline.git
[submodule "external/DirectXTex"]
	path = external/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "external/simdjson"]
	path = external/simdjson
	url = https://github.com/simdjson/simdjson
[submodule "external/fpng"]
	path = external/fpng
	url = https://github.com/richgel999/fpng
