[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/tinyxml2"]
	path = external/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "external/cmdline"]
	path = external/cmdline
	url = https://github.com/ProjectAsura/cmdline.git
[submodule "external/DirectXTex"]
	path = external/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "external/simdjson"]
	path = external/simdjson
	url = https://github.com/simdjson/simdjson
[submodule "external/fpng"]
	path = external/fpng
	url = https://github.com/richgel999/fpng
[submodule "external/MikkTSpace"]
	path = external/MikkTSpace
	url = https://github.com/mmikk/MikkTSpace.git
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot
[submodule "external/D3D12MemoryAllocator"]
	path = external/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "external/OpenXLSX"]
	path = external/OpenXLSX
	url = https://github.com/troldal/OpenXLSX.git
[submodule "external/xxHash"]
	path = external/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "external/implot3d"]
	path = external/implot3d
	url = https://github.com/brenocq/implot3d.git
[submodule "external/ImGuizmo"]
	path = external/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "external/ImRing"]
	path = external/ImRing
	url = https://github.com/ProjectAsura/ImRing
[submodule "external/angelscript"]
	path = external/angelscript
	url = https://github.com/anjo76/angelscript
[submodule "external/PixEvents"]
	path = external/PixEvents
	url = https://github.com/microsoft/PixEvents.git
